#sortable {
  width: 80%;
}
.title-bold {
  font-weight: bold;
}

.title-normal {
  font-weight: normal;
}

.sortable-expand {
  &:after {
    padding-left: 20px;
    font-family: 'FontAwesome';
    content: '\f0de';
  }
  &:hover {
    text-decoration: none;
  }
}

.sortable-collapse {
  &:after {
    padding-left: 20px;
    font-family: 'FontAwesome';
    content: '\f0dd';
    }
  &:hover {
    text-decoration: none;
    }
}

.content-hidden {
  display: none;
}


.feed-header-table tr td {
  padding-left: 20px;
  padding-right: 20px;
}

div[id*="content"] {
  padding-left: 40px;
}
