.title_bold {
  font-weight: bold;
}

.title_normal {
  font-weight: normal;
}

.sortable_expand:after {
  font-family: 'FontAwesome';
  content: '\f0dd';
}

.sortable_collapse:after {
  font-family: 'FontAwesome';
  content: '\f0de';
}

.content_hidden {
  display: none;
}
