.title_bold {
  font-weight: bold;
}

.title_normal {
  font-weight: normal;
}

.sortable_expand {
  &:after {
    padding-left: 20px;
    font-family: 'FontAwesome';
    content: '\f0de';
  }
  &:hover {
    text-decoration: none;
  }
}

.sortable_collapse {
  &:after {
    padding-left: 20px;
    font-family: 'FontAwesome';
    content: '\f0dd';
    }
  &:hover {
    text-decoration: none;
    }
}

.content_hidden {
  display: none;
}


.feed_header_table tr td {
  padding-left: 20px;
  padding-right: 20px;
}
