%header.navbar.navbar-default
  %div.container-fluid
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active= link_to 'Feeds', root_path
        %li.inactive= link_to 'Add New Feed', new_feed_path
